---
title: Home
navbar: Home
layout: default
---

<p>Welcome to the course website for both sections of <strong>CS 212 Software Development</strong> for Fall 2018! You can find the <a href="{{ "syllabus.html" | relative_url }}">Syllabus</a> and <a href="{{ "schedule.html" | relative_url }}">Weekly Schedule</a> (including links to the lecture materials, quizzes, homework, and projects) on this site. Visit <a href="{{ site.data.course.canvas }}">Canvas</a> for grades and assignment submission. Visit <a href="{{ site.data.course.piazza }}">Piazza</a> for announcements and questions. Visit the combined <a href="{{ site.data.course.google }}">Google Calendar</a> for the latest office hour and lab schedule.</p>

<h3>Upcoming Schedule</h3>

<div class="schedule">
{% for week in site.data.schedule %}
{%- assign today = 'now' | date: '%s' -%}
{%- assign lastweek = today | minus: 604800 -%}
{%- assign nextweek = today | plus: 1209600 -%}
{%- assign current = week.lectures[0].date | date: '%s' -%}
{%- assign current = current | plus: 0 -%}
{% if current >= lastweek and current <= nextweek %}
{% include week.html week = week %}
{% endif %}
{% endfor %}
</div>

<br/>

<p>See the <a href="{{ "schedule.html" | relative_url }}">Weekly Schedule</a> for the full schedule.</p>

<h3>At a Glance Schedule</h3>

<p>Below you can see the regular weekly schedule. Note this may change due to holidays, additions, or cancellations. Always double-check the <a href="{{ site.data.course.google }}">Google Calendar</a> for the latest details.</p>

<div class="tile is-ancestor">
  <div class="tile is-vertical">
    <!-- row -->
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child"></div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message">
          <span class="schedule heading">
            Tue 10:30&ndash;11:35a
          </span>
          CS 212-01 Lab 1<br/>
          Code Reviews
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message">
          <span class="schedule heading">
            Wed 10:30&ndash;11:35a
          </span>
          CS 212-01 Lab 2<br/>
          Code Reviews
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message">
          <span class="schedule heading">
            Thu 10:30&ndash;11:35a
          </span>
          CS 212-02 Lab 1<br/>
          Code Reviews
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message">
          <span class="schedule heading">
            Fri 10:30&ndash;11:35a
          </span>
          CS 212-02 Lab 2<br/>
          Code Reviews
        </div>
      </div>
    </div>

    <!-- row -->
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <div class="tile is-child"></div>
        <div class="tile is-child box message is-success">
          <span class="schedule heading">
            Mon 1:00&ndash;2:00p
          </span>
          TA Hours (Pedram) 411
        </div>
        <div class="tile is-child"></div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message is-info">
          <span class="schedule heading">
            Tue 12:45&ndash;2:30p
          </span>
          <a href="https://usfca.zoom.us/j/555229243"><i class="far fa-video"></i>&nbsp;CS 212-01 Lecture</a>
        </div>
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile is-child box">
          <span class="schedule heading">Wed 12:45&ndash;1:45p</span>
          Code Reviews
        </div>

        <div class="tile is-child box">
          <span class="schedule heading">
            Wed 1:50&ndash;2:30p
          </span>
          Code Reviews
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message is-info">
          <span class="schedule heading">
            Thu 12:45&ndash;2:30p
          </span>
          <a href="https://usfca.zoom.us/j/555229243"><i class="far fa-video"></i>&nbsp;CS 212-01 Lecture</a>
        </div>
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile is-child box is-invisible">
          <span class="schedule heading">&nbsp;</span>
          &nbsp;<br/>
        </div>

        <div class="tile is-child box">
          <span class="schedule heading">
            Fri 1:50&ndash;2:30p
          </span>
          Code Reviews
        </div>
      </div>
    </div>

    <!-- row -->
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child"></div>
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile is-child box">
          <span class="schedule heading">
            Tue 2:45&ndash;3:25p
          </span>
          Code Reviews
        </div>

        <div class="tile is-child box">
          <span class="schedule heading">
            Tue 3:35&ndash;4:15p
          </span>
          Code Reviews
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message is-success">
          <span class="schedule heading">
            Wed 2:45&ndash;4:15p
          </span>
          Office Hours 412B
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message is-success">
          <span class="schedule heading">
            Wed 2:45&ndash;4:15p
          </span>
          Office Hours 412B
        </div>
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile is-child box">
          <span class="schedule heading">
            Fri 2:45&ndash;3:25p
          </span>
          Code Reviews
        </div>

        <div class="tile is-child box">
          <span class="schedule heading">
            Fri 3:35&ndash;4:15p
          </span>
          Code Reviews
        </div>
      </div>
    </div>

    <!-- row -->
    <div class="tile">
      <div class="tile is-parent">
        <div class="tile is-child"></div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message is-info">
          <span class="schedule heading">
            Tue 4:35&ndash;6:20p
          </span>
          <a href="https://usfca.zoom.us/j/419423151"><i class="far fa-video"></i>&nbsp;CS 212-02 Lecture</a>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box is-invisible">
          <span class="schedule heading">&nbsp;</span>
          &nbsp;<br/>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box message is-info">
          <span class="schedule heading">
            Thu 4:35&ndash;6:20p
          </span>
          <a href="https://usfca.zoom.us/j/419423151"><i class="far fa-video"></i>&nbsp;CS 212-02 Lecture</a>
        </div>
      </div>
      <div class="tile is-parent is-vertical">
        <div class="tile is-child box is-invisible">
          <span class="schedule heading">&nbsp;</span>
          &nbsp;<br/>
        </div>

        <div class="tile is-child box is-invisible">
          <span class="schedule heading">&nbsp;</span>
          &nbsp;<br/>
        </div>
      </div>
    </div>

  </div>
</div>
