---
title: Schedule
navbar: Schedule
layout: default
---

<div class="schedule">

<p>The following is the current weekly schedule. This schedule is subject to change and will be frequently updated throughout the semester. The latest deadlines may also be found on <a href="{{ site.data.course.canvas }}">Canvas</a>.</p>

{% for week in site.data.schedule %}
{% include week.html week = week %}
{% unless forloop.last %}<hr>{% endunless %}

<!-- end week row -->
{% endfor %}

</div> <!-- end schedule -->

<br/>

<p>Instead of a final exam, final code reviews will be conducted during finals week. Please contact the instructor before making any travel plans during finals week!</p>
