<!-- start week {{ week.week }} row -->
<div class="columns">
  <!-- start week label -->
  <div class="column is-narrow">
    <div class="heading">
      <span class="week">
        {% if week.week %}Week {% if week.week < 10 %}0{% endif %}{{ week.week }}{% else %}{{ week.text }}{% endif %}
      </span>
    </div>
  </div>
  <!-- end week label -->

  {% for lecture in week.lectures %}
  <!-- start lectures -->
  <div class="column">
    <div class="cell">
      <!-- start resources -->
      <div class="resources">
        <div class="heading">
          {% if lecture.date %}{{ lecture.date | date: "%A %m/%d" }}{% endif %} Lecture
        </div>

        {% if lecture.resources %}
        <ul class="icons">
        {% for resource in lecture.resources %}
          <li{% if resource.type %} class="has-text-{{ resource.type }}"{% endif %}{% if resource.bump %}style="padding-top: 1ex;"{% endif %}>
            {% if resource.icon %}<span class="li-icon">
              <i class="fa-fw {{ resource.icon }}"></i>
            </span>{% endif %}
            {% if resource.link %}<a href="{{ resource.link }}"{% if resource.type %} class="has-text-{{ resource.type }}"{% endif %}>
              {{ resource.text }}
            </a>{% else %}{{ resource.text }}{% endif %}
          </li>
        {% endfor %}
        </ul>
        {% endif %}

      </div>
      <!-- end resources -->

      {% if lecture.deadlines %}
      <!-- start deadlines -->
      <div class="deadlines">
        <div class="heading">Dates &amp; Deadlines</div>

        <ul class="icons">
        {% for deadline in lecture.deadlines %}
          <li{% if deadline.type %} class="has-text-{{ deadline.type }}"{% endif %}>
            {% if deadline.icon %}<span class="li-icon">
              <i class="fa-fw {{ deadline.icon }}"></i>
            </span>{% endif %}
            {% if deadline.date %}<span class="has-text-weight-bold">{{ deadline.date | date: "%m/%d" }}:</span>{% endif %}
            {% if deadline.link %}<a href="{{ deadline.link }}"{% if deadline.type %} class="has-text-{{ deadline.type }}"{% endif %}>
              {{ deadline.text }}
            </a>{% else %}{{ deadline.text }}{% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
      <!-- end deadlines -->
      {% endif %}
    </div>
  </div>
  <!-- end lectures -->
  {% endfor %}


  <!-- start labs -->
  <div class="column">
    <div class="cell">
    {% if week.labs %}
      <div class="resources">
        <div class="heading">
          {% if week.week %}Week {% if week.week < 10 %}0{% endif %}{{ week.week }}{% else %}{{ week.text }}{% endif %} Labs
        </div>

        {% if week.labs.resources %}
        <!-- start resources -->
        <ul class="icons">
        {% for resource in week.labs.resources %}
          <li{% if resource.type %} class="has-text-{{ resource.type }}"{% endif %}>
            {% if resource.icon %}<span class="li-icon">
              <i class="fa-fw {{ resource.icon }}"></i>
            </span>{% endif %}
            {% if resource.link %}<a href="{{ resource.link }}">
              {{ resource.text }}
            </a>{% else %}{{ resource.text }}{% endif %}
          </li>
        {% endfor %}
        </ul>
        <!-- end resources -->
        {% endif %}
      </div>

      {% if week.labs.deadlines %}
      <!-- start deadlines -->
      <div class="deadlines">
        <div class="heading">Dates &amp; Deadlines</div>

        <ul class="icons">
        {% for deadline in week.labs.deadlines %}
          <li{% if deadline.type %} class="has-text-{{ deadline.type }}"{% endif %}>
            {% if deadline.icon %}<span class="li-icon">
              <i class="fa-fw {{ deadline.icon }}"></i>
            </span>{% endif %}
            {% if deadline.date %}<span class="has-text-weight-bold">{{ deadline.date | date: "%m/%d" }}:</span>{% endif %}
            {% if deadline.link %}<a href="{{ deadline.link }}">
              {{ deadline.text }}
            </a>{% else %}{{ deadline.text }}{% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
      <!-- end deadlines -->
    {% endif %}
    {% endif %}
    </div>
  </div>
  <!-- end labs -->
</div>
