---
title: Homework Guides
navbar: Guides
layout: default
---

<ul>
{% for post in site.categories['homework'] reversed %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> {% if post.label %}<span class="tag is-primary">{{ post.label }}</span>{% endif %}</li>
{% endfor %}
</ul>

{% include section.html level="h2" name="Video Walkthrough" %}

<p>This video walkthrough will illustrate this entire process on a Mac OSX system.</p>

<div>
  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/QSC1gK6TtSk?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br/>
  <small><a href="https://youtu.be/QSC1gK6TtSk"><i class="fab fa-youtube"></i> https://youtu.be/QSC1gK6TtSk</a></small>
</div>
