---
title: Guides
navbar: Guides
layout: default
---

<h3>General Guides</h3>

<ul>
{% for post in site.categories['general'] reversed %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h3>Lab Guides</h3>

<ul>
{% for post in site.categories['labs'] reversed %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h3>Homework Guides</h3>

<ul>
{% for post in site.categories['homework'] reversed %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<h3>Project Guides</h3>

<ul>
{% for post in site.categories['project'] reversed %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>

<ul>
{% for post in site.categories['writeups'] reversed %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
