---
title: Project Guides
navbar: Guides
layout: default
---

<ul>
{% for post in site.categories['project'] reversed %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> {% if post.label %}<span class="tag is-primary">{{ post.label }}</span>{% endif %}</li>
{% endfor %}
</ul>

<ul>
{% for post in site.categories['writeups'] reversed %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a> {% if post.label %}<span class="tag is-primary">{{ post.label }}</span>{% endif %}</li>
{% endfor %}
</ul>

{% include section.html level="h2" name="Video Walkthrough" %}

<p>This video walkthrough will illustrate this entire process on a Mac OSX system.</p>

<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/n3159AmZV2M?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  <br/>
  <small><a href="https://youtu.be/n3159AmZV2M"><i class="fab fa-youtube"></i> https://youtu.be/n3159AmZV2M</a></small>
</div>

<p>Please note this video was recorded for a previous semester. The Github organization and teacher assistants have changed since then.</p>
